@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

.npe-center {
	display: grid;
	align-items: center;
	justify-items: center;
}

.npe-center-h {
	display: grid;
	justify-items: center;
}

.npe-center-v {
	display: grid;
	align-items: center;
}

.never-pay-extra {
	grid-template-columns: 175px 50px;
	margin: 20px 0;
	grid-column-gap: 10px;
}

.never-pay-extra > * {
	position: relative;
	height: 100%;
	border: 1px solid #F9656A;
	border-radius: 5px;
}

.npe-spacer {
	position: absolute;
	height: 15px;
	width: 100%;
	margin-top: 50px;
}

.npe-popup {
	position: absolute;
	padding: 0 20px;
	text-decoration: none;
	overflow-y: hidden;
	z-index: 50;
	color: #000;
	height: 0;
	background-color: #FFF;
	box-shadow: 0 0 10px gray;
	border-radius: 3px;
	text-align: center;
	transition-duration: .25s;
}

/* Save button */

#npe-save-button {
	height: 40px;
	width: 175px;
	grid-template-columns: 50px auto;
	padding: 5px 0;
	font-family: 'Lato', 'Open Sans', sans-serif;
	color: #F9616E;
	font-size: 16px;
	font-weight: bold;
}

#npe-save-button img {
	height: 100%;
}

#npe-text-container {
	height: 100%;
	width: 100%;
}

#npe-text-container > span {
	width: 100%;
}

#npe-product-popup {
	width: 265px;
	margin-top: 170px;
}

#npe-inner-product-popup {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas: 'npe-product-img npe-product-span';
	grid-column-gap: 15px;
}

#npe-inner-product-popup img {
	height: auto;
	width: auto;
	grid-area: npe-product-img;
}

#npe-inner-product-popup > span {
	display: grid;
	align-self: center;
	grid-template-rows: 1fr 1fr;
	font-weight: normal;
	grid-area: npe-product-span;
	height: 42px;
}

#npe-save-button:hover #npe-product-popup {
	height: 112px;
}

/* Track button */

#npe-track-button {
	padding: 0 5px;
}

#npe-track-button a:hover {
	text-decoration: none;
}

#npe-track-button:hover #npe-track-button-text {
	text-decoration: underline;
}

#npe-track-button, #npe-inner-track-button {
	width: 50px;
	transition-duration: .25s;
}

#npe-track-button:hover,
#npe-track-button:hover #npe-inner-track-button {
	width: 165px;
}

#npe-track-button:hover #npe-tracker-popup {
	height: 135px;
	width: 275px;
	padding: 5px;
}

#npe-inner-track-button {
	grid-template-columns: 28px 12px 115px;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
	'npe-track-img npe-track-plus npe-track-text'
	'npe-track-img . npe-track-text';
	overflow: hidden;
	cursor: pointer;
}

#npe-inner-track-button img {
	height: 28px;
	width: 28px;
	grid-area: npe-track-img;
}

#npe-inner-track-button > span {
	font-weight: bold;
	color: #F9616E;
}

#npe-track-button-plus {
	grid-area: npe-track-plus;
	font-size: 20px;
}

#npe-track-button-text {
	grid-area: npe-track-text;
	font-size: 14px;
	padding-left: 10px;
}

#npe-tracker-popup {
	margin-top: 190px;
}

#npe-tracker-popup button {
	height: 30px;
	width: 125px;
	border-radius: 25px;
	border: none;
	background-color: #F9656A;
	color: #FFF;
	cursor: pointer;
}
